<!DOCTYPE html>
<html lang = "ja-jp">
<head>
    <title>投稿一覧</title>
    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/original-style.css' %}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="shortcut icon" type="image/png" href="assets/img/brand.png">-->

    <meta property="og:title" content="Honoka - 日本語も美しく表示できるBootstrapテーマ">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://honokak.osaka/">
    <meta property="og:image" content="http://honokak.osaka/assets/img/sample.png">
    <meta property="og:description" content="Honokaは日本語表示に最適化されたオリジナルBootstrapテーマです。">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@MITLicense">
    <meta name="twitter:creator" content="@MITLicense">
    <meta name="twitter:title" content="Honoka - 日本語も美しく表示できるBootstrapテーマ">
    <meta name="twitter:image" content="http://honokak.osaka/assets/img/sample.png">
    <meta name="twitter:description" content="Honokaは日本語表示に最適化されたオリジナルBootstrapテーマです。">

    <!--<link rel="stylesheet" type="text/css" href="assets/css/example.css">-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->


</head>
<body>
<h1>抹茶の備忘録</h1>

<h2>最新の投稿</h2>

{% for post in posts.all %}
    <table>
        <th></th>

    </table>
    <a href = "{% url 'post_detail' post.id %}" >{{ post.title }}</a>
    <br /><br />
    <p>
        {{ post.published }}
    </p>
    <br /><br />
    <img src="{{ post.image.url }}" />
    <br /><br />
    {{ post.Body }}
    <br /><br />
{% endfor %}

<div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 id="container">Containers</h1>
        </div>
        <div class="bs-component">
          <div class="jumbotron">
            <h1>方丈記</h1>
            <p>行く川のながれは絶えずして、しかも本の水にあらず。よどみに浮ぶうたかたは、かつ消えかつ結びて久しくとゞまることなし。世の中にある人とすみかと、またかくの如し。</p>
            <p><a class="btn btn-primary btn-lg">方丈記について</a></p>
          </div>
        </div>
      </div>
    </div>



</body>
</html>
