<!DOCTYPE html>
<html lang = "ja-jp">
<head>
    <title>投稿一覧</title>
    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load myfilter %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="shortcut icon" type="image/png" href="assets/img/brand.png">-->

    <meta property="og:title" content="Honoka - 日本語も美しく表示できるBootstrapテーマ">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://honokak.osaka/">
    <meta property="og:image" content="http://honokak.osaka/assets/img/sample.png">
    <meta property="og:description" content="Honokaは日本語表示に最適化されたオリジナルBootstrapテーマです。">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@MITLicense">
    <meta name="twitter:creator" content="@MITLicense">
    <meta name="twitter:title" content="Honoka - 日本語も美しく表示できるBootstrapテーマ">
    <meta name="twitter:image" content="http://honokak.osaka/assets/img/sample.png">
    <meta name="twitter:description" content="Honokaは日本語表示に最適化されたオリジナルBootstrapテーマです。">

    <!--<link rel="stylesheet" type="text/css" href="assets/css/example.css">-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/styles/darkula.css' %}"/>
<script src="{% static 'JS/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>

    <!--[if lt IE 9]
    <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->


</head>
<body>
<h1>抹茶の備忘録</h1>
<h2>{{ post.title }}</h2>
<p class="lead">{{ post.published }}</p>

{% if post.image %}
    <img src="{{ post.image.url }}" />
{% endif %}

<div id="memo" class="lead">
    {{ post.body | markdown2html | safe }}
</div>
<p><a href = "http://127.0.0.1:8000/blog/" class="btn btn-primary btn-lg">メインページへ</a></p>



</body>
</html>
